
pinyougou-sellergoods-service/target/m2e-wtp/web-resources/META-INF/maven/com.pinyougou/pinyougou-sellergoods-service/pom.properties
pinyougou-sellergoods-service/target/m2e-wtp/web-resources/META-INF/maven/com.pinyougou/pinyougou-sellergoods-service/pom.xml
pinyougou-sellergoods-service/target/m2e-wtp/web-resources/META-INF/maven/com.pinyougou/pinyougou-sellergoods-service/pom.xml
