<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/*.html" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/plugins/**" security="none"/>
	<http pattern="/seller/add.do" security="none"/>
	
	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_SELLER"/>
		<!-- always-use-default-target="true" -->
		<form-login login-page="/shoplogin.html" default-target-url="/admin/index.html" authentication-failure-url="/shoplogin.html" />
		<csrf disabled="true"/>
		<!-- 解决框架页不能显示内容的问题 -->
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
		<!-- 注销 -->
		<logout/>
	</http>
	
	
	
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailService">
			<!--<user-service>
				 <user name="admin" password="123" authorities="ROLE_ADMIN"/>
				<user name="xigua" password="333" authorities="ROLE_ADMIN"/> 
			</user-service>-->
			<password-encoder ref="bcrytEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="userDetailService" class="com.pinyougou.service.UserDetailsServiceImpl">
		<beans:property name="sellerService" ref="sellerService"></beans:property>
	</beans:bean>

	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pinyougou-shop-web" />
	<dubbo:registry address="zookeeper://192.168.25.131:2181"/>
	<dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService"></dubbo:reference>

	<beans:bean id="bcrytEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>

</beans:beans>